<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mouse/style.css') }}">
</head>
<body>

{#<td class="cagecard">   </td>#}
{#</table>#}
<div class="cagecard {{ sex }}">
    <table class="cagecard">
        <tr>

            <td rowspan="4"><img src="{{ qrcode(url_for('.index',animal_id=animal_id, _external=True), box_size=3) }}">
            </td>
            <td colspan="2" class="djattribute"> Animal ID</td>
            <td class="djattribute"> PI:</td>
            <td> A. Tolias (713-798-4071)</td>
        </tr>
        <tr>
            <td rowspan="2" colspan="2" class="animal"> {{ animal_id }}</td>
            <td class="djattribute"> Protocol:</td>
            <td> {{ protocol }}</td>
        </tr>
        <tr>
            <td class="djattribute"> Breeding:</td>
            <td> C. Lopez (713-798-4072)</td>
        </tr>
        <tr>
            <td class="djattribute">Sex:</td>
            <td>{{ sex }} </td>
            <td class="djattribute"> Animal Owner:</td>
            <td> {{ owner }}</td>
        </tr>
    </table>
    <hr>
    <table class="ccinfo">
        <tr>
            <td class="djattribute">Color:</td>
            <td>{{ color }}</td>
            <td class="djattribute">Mother:</td>
            <td>{{ parents['F'] }}</td>
            <td class="djattribute">DOB:</td>
            <td>{{ dob }}</td>
        </tr>
        <td class="djattribute">Room:</td>
        <td>{{ room }}</td>
        <td class="djattribute">Father:</td>
        <td>{{ parents['M'] }}</td>
        <td class="djattribute"> DOW:</td>
        <td>{{ dow }}</td>
    </table>
    <hr>
    <table class="ccinfo">
        {% for line in lines %}
            <tr>
                <td class="djattribute">Genotype {{ loop.index }}:</td>
                <td>{{ line['line'] }}</td>
                <td>({{ line['genotype'] }})</td>
            </tr>

        {% endfor %}
    </table>
    {% if injections is defined %}
        <hr>
        <table class="ccinfo">
            {% for injection in injections %}
                <tr>
                    <td class="djattribute">Injection {{ loop.index }}:</td>
                    <td class="djattribute">Site</td>
                    {% if 'area' in injection %}
                        <td>{{ injection['area'] }}</td>
                    {% else %}
                        <td>{{ injection['injection_site'] }}</td>
                    {% endif %}
                    <td class="djattribute">TOI</td>
                    <td>{{ injection['toi'] }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="djattribute">Virus</td>
                    <td colspan="2">  {{ injection['construct_id'] }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="djattribute">Lot</td>
                    <td>{{ injection['virus_lot'] }}</td>

                </tr>

            {% endfor %}
        </table>
    {% endif %}
</div>

</body>
</html>