{% macro render_field(field, required) %}
<tr>
    {% if field.id == 'REFERRER'%}
        {{ field(**kwargs)|safe }}
    {% else %}
        {% if required %}
            <td><b>{{ field.id }}</b></td>
        {% else %}
            <td>{{ field.id }}</td>
        {% endif %}
        <td>{{ field(**kwargs)|safe }}</td>
        <td>{{ field.label }}</td>
        <td>
            {% if field.errors %}
            <ul class=errors>
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </td>
    {% endif %}
</tr>
{% endmacro %}


{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dj/table.css') }}">
{% endblock %}

{% block page_content %}
    <form role="form" method=post action="{{ target }}">
        <table class="table table-striped djtable">
            <thead>
            <tr>
                <th>Attribute</th>
                <th>Data</th>
                <th> Comment</th>
                <th>Error</th>
            </tr>
            </thead>
            <tbody>
            {% for fieldname, field in form._fields.items() %}
            {{ render_field(field, form.required[fieldname]) }}
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="2" align="center"><input type=submit value=Submit name="submit"></td>
                <td colspan="2" align="center"><input type=submit value=Cancel name="submit"></td>
            </tr>
            </tfoot>
        </table>
        <p>

    </form>

{% endblock %}
