{% extends "base.html" %}


{% block page_content %}
    <div class="post-tabs">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Table</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for relname in tables %}
                <tr>
                    <td>{{ relname }}</td>
                    <td>
                        <a href="{{ url_for('djtable.display', relname=relname) }}">
                            <button type="button" class="btn btn-info">View</button>
                        </a>
                        <a href="{{ url_for('djtable.enter', relname=relname) }}">
                            <button type="button" class="btn btn-warning">Enter Data</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
