{% extends "bootstrap/base.html" %}


{% block title %}Pipeline Control{% endblock %}


{% block head %}
    {{ super() }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
          href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='metro-bootstrap/dist/css/metro-bootstrap.css') }}"/>
{% endblock %}


{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">

        <a class="navbar-brand" href="{{ url_for('main.user') }}">
                {{ session['user'] if 'user' in session else 'Select user' }}
        </a>
        <a class="navbar-brand" href="{{ url_for('main.relation') }}">ERD</a>
        <a class="navbar-brand" href="{{ url_for('main.autoprocessing') }}">Auto Processing</a>
        <a class="navbar-brand" href="{{ url_for('main.correction') }}">Correction Channel</a>
        <a class="navbar-brand" href="{{ url_for('main.segmentation') }}">Segmentation Task</a>
{#        <a class="navbar-brand" href="{{ url_for('main.progress') }}">Progress</a>#}
        <a class="navbar-brand" href="{{ url_for('main.jobs') }}">Jobs</a>
{#        <a class="navbar-brand" href="{{ url_for('main.summary') }}">Summary Images</a>#}
        <a class="navbar-brand" href="{{ url_for('main.quality') }}">Quality Control</a>
        <a class="navbar-brand" href="{{ url_for('main.report') }}">Reports</a>
        <a class="navbar-brand" href="{{ url_for('main.surgery') }}">Surgery</a>
        <a class="navbar-brand" href="{{ url_for('main.surgery_status') }}">Surgery Status</a>
    </div>
{% endblock %}


{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}

        {% block page_content %}{% endblock %}
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}
