{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datajoint.css') }}">
{% endblock %}

{% block title %}Pipeline Control{% endblock %}




{% block page_content %}
    <div class="post-tabs">
        {% for schema, table in tables.items() %}
            <h3>Available keys for correction channel for schema {{ schema }}</h3>
            <form action={{ url_for('main.correction') }} method="post">
                {{ table }}
                <p>
                <p>
                    <input type="hidden" value="{{ schema }}">
                    <input type="submit" value="enter in table">
            </form>
        {% endfor %}
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}


