{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Row-Bot{% endblock %}

{% block page_content %}
    <div class="page-header">
        {% if current_user.is_authenticated %}
            <h1>Hello {{ current_user.username }}</h1>
        {% else %}
            <h1>Row-Bot</h1>
            <h4>a tool to view and edit simple DataJoint tables</h4>
        {% endif %}
    </div>


    <div class="post-tabs">
        {% if not current_user.is_authenticated %}

            <p>
                Please <a href="{{ url_for('auth.login') }}">login</a> if you want to see your current posts or <a
                    href="{{ url_for('auth.register') }}">register</a> as a new user.
            </p>

        {% else %}

            <div class="col-sm-6 col-md-2">
                <div class="thumbnail tile tile-medium tile-teal">
                    <a href="{{ url_for('.modules') }}" class="fa-links">
                        <br><br>
                        <h3>Tables</h3>
                        <i class="fa fa-3x fa-table"> </i>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-2">
                <div class="thumbnail tile tile-medium tile-blue">
                    <a href="{{ url_for('stereotax.stereotax') }}" class="fa-links">
                        <br><br>
                        <h3>Stereotax</h3>
                        <i class="fa fa-3x fa-blind"></i>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-2">
                <div class="thumbnail tile tile-medium tile-asbestos ">
                    <a href="{{ url_for('djtable.enter', relname='commons.mice.Death') }}" class="fa-links">
                        <br><br>
                        <h3>Dead Mouse</h3>
                        <i class="fa fa-3x fa-close"></i>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-2">
                <div class="thumbnail tile tile-medium tile-lime ">
                    <a href="{{ url_for('virus.enter') }}" class="fa-links">
                        <br><br>
                        <h3>Virus</h3>
                        <i class="fa fa-3x fa-flask"></i>
                    </a>
                </div>
            </div>

        {% endif %}
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}

