{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Pipeline Control{% endblock %}


{% block page_content %}
    <div class="page-header">
        {% if not user %}
         Please choose a user from the dropdown menue above.
        {% else %}
            Hi {{ user }}
        {% endif %}
    </div>


    <div class="post-tabs">
        {{ jobs }}
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}


