{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <div class="page-header">
        <h1>Available DataJoint modules</h1>
    </div>
    <div class="post-tabs">
        <div class="container">
            {% for mod in modules %}
                <a href="{{ url_for('djtable.list_tables', modname=mod.mod_name) }}">
                    <button type="button" class="btn btn-info">{{ mod.mod_name }}</button>
                </a>
            {% endfor %}
        </div>

        {% if current_user.is_administrator() %}
            <hr>
            <div class="container">
                <h2>Admin area</h2>
                {% for mod in modules %}
                    <a href="{{ url_for('.remove_module', modname=mod.mod_name) }}">
                        <button type="button" class="btn btn-danger">{{ mod.mod_name }}</button>
                    </a>
                {% endfor %}
                <a href="{{ url_for('.add_module') }}">
                    <button type="button" class="btn btn-success">Add new module</button>
                </a>
            </div>
        {% endif %}
    </div>


{% endblock %}
