{% extends "base.html" %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datajoint.css') }}">
{% endblock %}


{% block page_content %}
    <div class="post-tabs">

        {% from "_macros.html" import render_field %}
        <form method="post">
            <div class="row">
                <div class="col-sm-2">
                    <dl>
                        {{ render_field(form.animal_id, style="width: 100px;") }}
                    </dl>

                </div>
                <div class="col-sm-2">
                    <dl>
                        {{ render_field(form.session, style="width: 100px;") }}
                    </dl>

                </div>
                <div class="col-sm-2">
                    <dl>
                        {{ render_field(form.scan_idx, style="width: 100px;") }}
                    </dl>

                </div>
            </div>
            <input type="submit" value="Select">
        </form>
        <br>
        {{ table }}
    </div>
{% endblock %}