{% extends "pdf.html" %}


{% block content %}
    <h1>Quality report for animal {{ animal_id }}, session {{ session }}, and scan {{ scan_idx }}</h1>

    {% if craniotomy_notes %}
        <h2>Craniotomy notes</h2>
        <ul>
            {% for note in craniotomy_notes.split(',') %}
                <li>{{ note }}</li>
            {% endfor %}
        </ul>
    {% endif %}


    {% if session_notes %}
        <h2>Session notes</h2>
        <ul>
            {% for note in session_notes.split(',') %}
                <li>{{ note }}</li>
            {% endfor %}
        </ul>
    {% endif %}


    <h2>Statistics</h2>
    {{ stats_table }}


    <h2>Receptive Field SNR</h2>
    {% if has_staqual %}
        <img src="{{ url_for('images.rf_snr', animal_id=animal_id, session=session,
                             scan_idx=scan_idx, size='smedium') }}">
    {% else %}
        Populate receptive field quality in <code>stimline.tune.STAQual()</code>.
    {% endif %}


    <h2> Cell Orientation <h2/>
    {% if has_ori %}
        <h3>Distribution of orientation selectivity</h3>
        <img src="{{ url_for('images.cellori', animal_id=animal_id, session=session,
                             scan_idx=scan_idx, size='marge') }}">

        <h3>R<sup>2</sup> vs. OSI</h3>
        <img src="{{ url_for('images.osi_vs_r2', animal_id=animal_id, session=session,
                             scan_idx=scan_idx, size='smedium') }}">

        <h3>R<sup>2</sup> vs. DSI</h3>
        <img src="{{ url_for('images.dsi_vs_r2', animal_id=animal_id, session=session,
                             scan_idx=scan_idx, size='smedium') }}">
    {% else %}
        Populate cell orientation in <code>stimline.tune.Ori()</code>
    {% endif %}


    <h2>Cross-correlation SNR</h2>
    {% if has_xsnr %}
         <img src="{{ url_for('images.signal_xcorr', animal_id=animal_id,
                              session=session, scan_idx=scan_idx, size='smedium') }}">
    {% else %}
        Populate cross-correlation SNR in <code>stimline.xcorr.XSNR()</code></div>
    {% endif %}


    <h2>RF Locations</h2>
    {% if has_staext %}
        <img src="{{ url_for('images.sta_loc', animal_id=animal_id, session=session,
                             scan_idx=scan_idx, size='smedium') }}">
    {% else %}
       Populate receptive field locations in <code>stimline.tune.STAExtent()</code> and
       check whether any SNR exceeds 5 (cutoff)
    {% endif %}


    <p style="page-break-before: always"></p>
    <h2>Images</h2>
    {% if image_keys %}
        {% for key in image_keys %}
            <h3>Field {{ key['field'] }} ch. {{key['channel']}}</h3>
            <table>
                {% if key['has_summary'] %}
                    <tr> <th>Correlation</th> <th>Average</th> </tr>
                    <tr>
                        <td>
                            <img src="{{ url_for('images.correlation_image', animal_id=key['animal_id'],
                                                 session=key['session'], scan_idx=key['scan_idx'],
                                                 field=key['field'], channel=key['channel'], size='report') }}">
                        </td>
                        <td>
                            <img src="{{ url_for('images.average_image', animal_id=key['animal_id'],
                                                 session=key['session'], scan_idx=key['scan_idx'],
                                                 field=key['field'], channel=key['channel'], size='report') }}">
                        </td>
                    </tr>
                {% endif %}
                <tr> <th>Oracle</th> <th>Pixel Orientation</th> </tr>
                <tr>
                    <td>
                        {% if key['has_oracle'] %}
                            <img src="{{ url_for('images.oracle_map', animal_id=key['animal_id'],
                                                 session=key['session'], scan_idx=key['scan_idx'],
                                                 field=key['field'], size='report') }}">
                        {% endif %}
                    </td>
                    <td>
                        {% if key['has_cos2map'] %}
                            <img src="{{ url_for('images.cos2map', animal_id=key['animal_id'],
                                                 session=key['session'], scan_idx=key['scan_idx'],
                                                 field=key['field'], size='report') }}">
                        {% endif %}
                    </td>
                </tr>
            </table>
            <p style="page-break-before: always"></p>
        {% endfor %}
    {% else %}
        Populate summary images, oracle maps or orientation maps in
        <code>pipeline.reso/meso.SummaryImages()</code>, <code>stimline.tune.Cos2Map()</code>
        or <code>stimline.tune.Cos2Map()</code>
    {% endif %}


    <h2>Parametric Tuning</h2>
    {% if pxori_keys %}
        {% for key in pxori_keys %}
            <h3>Field {{ key.field }}</h3>
            <img src="{{ url_for('images.pixelwiseori', animal_id=key['animal_id'],
                                 session=key['session'], scan_idx=key['scan_idx'],
                                 field=key['field'], size='marge') }}">
            <p style="page-break-before: always"></p>
        {% endfor %}
    {% else %}
        Populate pixelwise tuning in <code>stimline.tune.PixelwiseOri()</code></div>
    {% endif %}

    <p style="page-break-before: always"></p>

    <h3>Reverse Correlation</h3>
    {% if sta %}
        {% for q in [100, 90, 80, 70, 60] %}
        <h4>Best images below {{ q }}% percentile of SNR</h4>
        <div>
            <img src="{{ url_for('images.sta', animal_id=animal_id,
                                         session=session,
                                         scan_idx=scan_idx, size='smedium', t=1, quantile=q) }}">
        </div>
        {%  endfor %}
    {% else %}
        Populate spike triggered averages in <code>stimline.tune.STA()</code>.
    {% endif %}


    <h2>Eye Camera</h2>
    {% if has_eye %}
        <img src="{{ url_for('images.eye', animal_id=animal_id, session=session,
                             scan_idx=scan_idx, size='smedium') }}">
    {% else %}
        Populate preview frames in <code>pipeline.pupil.Eye()</code>.
    {% endif %}


    <h2>Traces</h2>
    <h3>Pupil radius and position</h3>
    {% if has_eyetrack %}
        <img src="{{ url_for('images.eye_tracking', animal_id=animal_id, session=session,
                             scan_idx=scan_idx, size='medium') }}">
    {% else %}
        Populate eye tracking in <code>pipeline.pupil.FittedContour()</code> (requires
        linux with graphics)
    {% endif %}

    <h3>Intensity and contrast traces</h3>
    {% if quality_keys %}
        {% for key in quality_keys %}
            <h4>Field {{ key['field'] }} ch. {{ key['channel'] }} </h4>
            <img src="{{ url_for('images.contrast_intensity', animal_id=key['animal_id'],
                                 session=key['session'], scan_idx=key['scan_idx'],
                                 field=key['field'], channel=key['channel'], size='smedium') }}">
        {% endfor %}
    {% else %}
        Populate contrast intensities in <code>pipeline.reso/meso.Quality()</code>
    {% endif %}

    <h3>Oracle time traces</h3>
    {% if oracletime_keys %}
        {% for key in oracletime_keys %}
            <h4>Field {{ key['field'] }} ch. {{ key['channel'] }}</h4>
            <img src="{{ url_for('images.oraclecourse', animal_id=key['animal_id'],
                                 session=key['session'], scan_idx=key['scan_idx'],
                                 field=key['field'], size='smedium') }}">
        {% endfor %}
    {% else %}
        Populate oracle time traces in <code>stimline.tune.MovieOracleTimeCourse()</code>
    {% endif %}
{% endblock %}