{% extends "base.html" %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datajoint.css') }}">
{% endblock %}


{% block page_content %}
    <h3>ERD neighborhood</h3>
    Click on a table to expand it.
    <div class="post-tabs">
        <object data="{{ url_for('tmpfile', filename=filename) }}" type="image/svg+xml"
                class="Svg" target="_top">
        </object>
    </div>

    <h3>Table content</h3>
    Showing first table entries. Restrict results using SQl-like restrictions, e.g.,
        <code>animal_id=8623 and scan_idx>1 and software="scanimage"</code>
    <div class="post-tabs">
        {% from "_macros.html" import render_field %}
        <form method="post">
            <dl>
                {{ render_field(form.restriction, style="width: 700px;") }}
            </dl>
            <input type="submit" value="Restrict">
        </form>
    </div>
    {{ table }}
{% endblock %}