{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datajoint.css') }}">
{% endblock %}

{% block title %}Pipeline Control{% endblock %}




{% block page_content %}
    <div class="post-tabs">
        <h3>Available keys for segmentation task</h3>
         <form action={{ url_for('main.segmentation') }} method="post">
            {{ table }}
             <p>
             <p>
             <input type="submit" value="enter in table">
         </form>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}


