{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datajoint.css') }}">
{% endblock %}

{% block title %}Pipeline Control{% endblock %}




{% block page_content %}
    <div class="post-tabs">
    <h3>Showing 40 entries</h3>
    Use restrictions to narrow down your search.

    <p><p>
        <form method=post>
            <dl>
                <dt>{{ form.restriction.label }}
                <dd>{{ form.restriction(style="width: 700px;")|safe }}
                    {% if form.restriction.errors %}
                        <ul class=errors>
                            {% for error in form.restriction.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </dd>
            </dl>
            <p><input type=submit value=Submit>
        </form>
    <p>

    {{ table }}
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}


