{% extends "base.html" %}


{% block page_content %}
    <div class="post-tabs">
        {% if figure %}
            {{ figure|safe }}
        {% endif %}

        {% from "_macros.html" import render_field %}
        <form method="post">
            <dl>
                {{ render_field(form.relative_area_threshold) }}
                {{ render_field(form.ratio_threshold) }}
                {{ render_field(form.error_threshold) }}
                {{ render_field(form.min_countour_len) }}
                {{ render_field(form.margin) }}
                {{ render_field(form.contrast_threshold) }}
                {{ render_field(form.speed_threshold) }}
                {{ render_field(form.dr_threshold) }}
                {{ render_field(form.gaussian_blur) }}
                {{ render_field(form.exclude) }}
            </dl>
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}